<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image: {{image}}</title>
</head>
<body>
    <h2>Today </h2>
    <img src="/{{image}}" alt="not found">
</body>
</html>